.receita {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    width: 300px;
    box-shadow: 0px 0px 10px 1px #6e6e6e;
    border-top: 3px solid red;
    border-left: 3px solid orange;
    border-right: 3px solid green;
    border-bottom: 3px solid red;
    border-radius: 10px;
}


.bloco-imagem {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

@media screen and (min-width: 0) {
    .receita {
        margin-right: 1rem;
        width: 300px;
    }
}

@media screen and (min-width: 768px) {
    .receita {
        margin-right: 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .receita {
        margin-right: 5rem;
    }
}